* {
    font-family: Georgia;
}

main > h1, h2 {
    animation-duration: 0.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translate(100%);
    }

    to {
        opacity: 1;
        transform: translate(0%);
    }
}


@keyframes slideinbottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    50%{
        opacity:1;
    }
    to {
        opacity: 0;
    }
}

:root {
    background-image: url("../images/fond2.jpg");
    background-position: center;

    /*background-size: 150%;*/
    /*background-repeat: no-repeat;*/
    /*--background: #3f3b45;*/
    --background2: #012e49;
    --details: #012e49;
}

* {
    box-sizing: border-box;
    /*overflow: auto;*/
}

body {
    background: var(--background);
    overflow-x: hidden;
}

main {
    padding: 15px;
    border-radius: 20px;
    width: 85%;
    margin: auto;
    padding-top: 100px;

    background: rgba(25, 63, 86, 0.82);
    min-height: 100vh;
    height: 100%;
    opacity: 0.99;
    z-index: -1;
    overflow: hidden;
}


main p {
    border-radius: 10px;
    background: #dff5f4;
    padding: 10px;
    margin: 7px;
    border: solid lightgrey 1px;
}


main p a {
    color: #000000;
    /*text-decoration: none;*/
}

.attention {
    max-width: 45px;
}


.vote {
    /*max-width: 65px;*/
}


#utilisateurs {
    background: #012e49;
}


h1, h2, h3 {
    margin-left: 15px;
    color: #dcdcdc;
}


form p label:first-child {
    /*color: #011b2a;*/
    font-size: 20px;
    /*font-weight: bold;*/
}

form legend {
    color: white;
}

.message * {
    display: flex;
    padding-right: 10px;
    color: red;
    vertical-align: baseline;
}


span {
    background: lightblue;
    opacity: 0.8;
    padding: 1px;
    border: dodgerblue;
}

.search {
    height: 20px;
    width: 20px;
    background: lightgrey;
    padding: 2px;
}

.search:hover {
    opacity: 0.7;
}

.questions {
    width: 50%;
    margin: auto;
    padding: 0;
}

.questions .listes {
    position: relative;
    border-radius: 7px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #dff5f4;
    vertical-align: middle;
    display: inline-block;
    height: 250px;
    width: 100%;
    margin: 20px;
}

.liste:hover {

}

.listes {
    width: 33%;
}

.listes .titre {
    font-size: 20px;
}

.questions .listes > * {
    color: #012134;
    width: auto;
    display: flex;
    flex-direction: column;
}

#action {
    display: inline-block;
    vertical-align: middle;
}

#action, img {
    max-width: 25px;
}

.listes a {
    text-decoration: none;
    margin-left: 10px;
    padding: 0;
}

.listes {
    list-style: none;
    height: 50px;
    animation-duration: 0.5s;
    animation-name: slideinbottom;
}

#description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    width: 95%;
    max-width: 95%;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    background: none;
    border-top: solid black 1px;
    border-radius: 0;
    word-wrap: break-word;
    word-break: break-all;
}

#status_cree.listes {
    border-top: 10px solid red;
}

#status_ecriture.listes {
    border-top: 10px solid orange;
}

#status_vote.listes {
    border-top: 10px solid yellow;
}

#status_attente.listes {
    border-top: 10px solid grey;
}

#status_termine.listes {
    border-top: 10px solid green;
}

.listes > #auteur {
    float: right;
    margin-right: 5px;
    margin-bottom: 2px;
}


li, a {
    margin-left: 20px;
    color: #dff5f4;
}

textarea {
    resize: none;
}

.champ textarea {
    background-color: white;
}

.champ * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.selection {
    width: 18%;
    position: fixed;
    left: 9%;
    height: 500px;
    border-radius: 10px;
    vertical-align: middle;
    border: solid black 1px;
    background: #dff5f4;
    padding: 0;
}

.selection > ul {
    padding-inline-start: 0px;
    width: 100%;
    justify-content: center;
    border: solid #dff5f4 2px;
    list-style-type: none;
}

.phases {
    margin: 0;
}

.phases > a {
    line-height: 48px;
    margin: auto;
    justify-content: space-between;
    display: block;
    margin: 15px;
    justify-items: center;
    padding: 4px;
    background: #dff5f4;
    padding: 0 35px;
    height: 48px;
    border-radius: 30px;
    color: white;
    text-align: center;
}

.phases > a:hover {
    filter: brightness(0.6);
}

#all.phases > a {
    background: #8699A3;
}

#ecriture.phases > a {
    background: #FFC55C;
}

li#vote.phases > a {
    background: #FDE541;
}

#termine.phases > a {
    background: #73D393;
}


.phases, a {
    text-decoration: none;
    color: black;
}

a#vote {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    background-color: #012e49;
    font-size: 17px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    border-style: solid;
    border-color: #f1f4f8;
    border-width: 1px;
    color: #ffffff;
}

a#vote:hover {
    color: #012134;
    background-color: #f1f4f8;
    border-color: rgba(69, 190, 187, 0.6);
    border-width: 2px;
}


.bouton {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 50px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    border-style: solid;
    border-color: #f1f4f8;
    border-width: 1px;
    color: black;
}

.bouton:hover {
    color: #012134;
    background-color: #f1f4f8;
    border-color: rgba(69, 190, 187, 0.6);
    border-width: 2px;
}

.barreHaut {
    width: 18%;
    position: fixed;
    right: 9%;
    height: 500px;
    border-radius: 10px;
    vertical-align: middle;
    border: solid black 1px;
    background: #dff5f4;
    padding: 0;
}


#acceuil_search_form {
    position: relative;
    justify-content: center;
}

#imgsearch {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 100%;
    z-index: -1;
}

#form_search {
    position: absolute;
    display: flex;
    top: 65%;
    right: 15%;
    width: 35%;
    height: auto;
    background: white;
}

.nav *, form .nav {
    background-color: #dff5f4;
    font-size: 17px;
    border-radius: 15px;
    transition: 0.3s;
}

.nav *:hover, form .nav:hover {
    color: white;
    background-color: #1a3341;
    border-color: #dff5f4;
}

#form_search > #keyword_input {
    position: relative;
    float: left;
    width: 100%;
    border: 0;
    padding: 20px 45px 20px 28px;
    font-size: 1.3rem;
    line-height: 1;
}

#form_search > .search {
    float: right;
    height: 7%;
    width: 7%;
    transform: translateY(50%);
    background: white;
}

#acceuil_search_form > h1 {
    font-size: 2em;
    top: 22%;
    left: 18%;
    position: absolute;
    line-height: 1.12em;
    color: white;
    margin: 0 0 25px;
    text-transform: uppercase;
    padding: 34px 0 33px;
    word-break: break-word;
    text-decoration: none;
    max-width: 30%;
}

#acceuil_search_form > h1 > span {
    text-shadow: black 1px 2px 5px;
    opacity: 1;
    position: relative;
    background: transparent;
}

#acceuil_search_form > h1 > span:before, #acceuil_search_form > h1 > span:after {
    content: '';
    position: absolute;
    background: transparent;
    height: 15px;
    border: 7px solid currentColor;
}

#acceuil_search_form > h1 > span:before {
    width: 25%;
    top: -25%;
    border-top: 0;
    border-right: 0;
}

#acceuil_search_form > h1 > span:after {
    width: 41%;
    left: 70%;
    right: 24px;
    top: 100%;
    bottom: 2px;
    border-bottom: 0;
    border-left: 0;
}


@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }

    .listes {
        min-height: 50px;
        height: auto;
    }

    #acceuil_search_form > h1 {
        font-size: 1.5em;
        width: 250px;
    }

    #form_search {
        position: relative;
        top: -20px;
        right: 0;
        left: 5%;
        width: 90%;
        height: 40px;
        transform: translateY(50%);
        background: white;
    }

    #form_search .search {
        transform: translateY(0%);
        height: 40px;
        width: 40px;
    }

    .barreHaut:first-child {
        padding-left: 10%;
    }
}

.listes_sans_puces {
    list-style-type: none;
}

.barre_utilisateur * {
    display: inline-block;
    vertical-align: middle;
}

.barre_utilisateur > a {
    margin-left: 60%;
}

.barre_utilisateur > a img {
    margin: 15px;
}

.sortie {
    max-width: 50px;
    filter: invert(1);
}

.sortie {
    max-width: 50px;
    filter: invert(1);
}

.sortie:hover {
    max-width: 50px;
    filter: none;
}

.pileflash{
    position: absolute;
    top:75px;
    right:2px;
    z-index:100;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    animation:slidein 0.5s, fadeout 5.5s;
    opacity:0;
    margin:1px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


/* Titres */
h1 {
    text-align: center;
}

h1 > strong {
    color: white;
    text-shadow: 2px 1px 1px black;
    box-shadow: 2px 1px 1px white;
    display: inline-block;
    padding: 8px;
    text-transform: capitalize;
}

h1 > strong#color-blue {
    background: cornflowerblue;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

h1 > strong#color-grey {
    background: lightgrey;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
}

h1 > strong#color-green {
    background: lightgreen;
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
}

h1 > strong#color-yellow {
    background: #ffff98;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}

h1 > strong#color-orange {
    background: lightsalmon;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}

.detail_question div {
    vertical-align: middle;
    display: inline-block;
}

div p {
    width: auto;
}


.infos {
    width: 60%;
}

.calendrier {
    margin-left: 10%;
    text-align: center;
}

.vertical-line {
    display:inline-block;

    width: 7px;
    height: 100px;
    z-index:-1;
}

.vertical-line-petite {
    display:inline-block;
    display: inline-block;
    height: 45px;
    width: 7px;
    z-index:-1;
}

#cercle {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #ffffff;
}

.responsables {
    width: 100%;
}

.profil {
    filter: invert(0.9);
    max-width: 37px;
}

.lien {
    padding: 10px;
    border-radius: 5px;
    background-color: #dff5f4;
    text-decoration: underline;
}

.lien:hover {
    border: solid 1px white ;
    background-color: #1a3341;
    color: white;
}

.légende{
    display: inline-block;
}

.cal{
    color:white;
    position:relative;
    left:150px;
    background:none;
    padding:0;
    border:none;
    margin:0;
    top:0px;
}

.cal::after{
    content : "";
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #ffffff;
    position:absolute;
    left:-35px;
    top:10px;
    z-index:1;
}

#participants>*{
    width:45%;
}

#participants>*>p{
    background:#dff5f4;
    border:none;
    border-radius: 0;
    padding:2px;
    margin:0;
}
#participants{
    display:inline-block;
    width:100%;
}
#participants>#votants{
    float:right;
}


