:root {
    background-image: url("../images/fond2.jpg");
    background-attachment: fixed;
    background-size: cover;
    --background2: #012e49;
    --details: #012e49;
    --brand: #ffffff;
}

* {
    font-family: Georgia;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

body {
    overflow-x: auto;
}

main {
    padding: 15px;
    width: 85%;
    margin: auto;
    padding-top: 100px;
    background: rgba(25, 63, 86);
    min-height: 100vh;
    /*height: 100%;*/
    opacity: 0.99;
    z-index: -1;
    overflow: hidden;
}

.attention {
    max-width: 45px;
}

form {
    margin-bottom: 10px;
}

.utilisateurs {
    background: none;
    border: none;
}

.utilisateurs > button {
    border: solid 1px;
}

.utilisateurs > button:after {
    content: "";
    background-image: url("../images/delete.png");
    background-size: 10px 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    display: none;
}

.utilisateurs > button:hover {
    border: red solid 1px;
}

.utilisateurs > button:hover::after {
    display: inline-block;
}


h3, h2 {
    text-align: center;
}


form p label:first-child {
    /*color: #011b2a;*/
    font-size: 20px;
    /*font-weight: bold;*/
}

form legend {
    color: black;
}

fieldset {
    border: none;
}


.message * {
    display: flex;
    padding-right: 10px;
    color: red;
    vertical-align: baseline;
}


.EasyMDEContainer {
    width: 90%;
    margin: auto;
}


.questions {
    width: 50%;
    margin: auto;
}


.questions .listes {
    padding: 8px;
    position: relative;
    border-radius: 7px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgba(223, 245, 244, 0.84);
    vertical-align: middle;
    display: inline-block;
    height: 350px;
    width: 100%;
    margin: 20px 1px 20px 1px;
}

.liste:hover {

}

.listes {
    width: 33%;
}

.travers {
    transform: rotate(8deg);
}

.listes .titre {
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 95%;
    margin: 0;
}

.questions .listes > * {
    color: #012134;
    width: auto;
    display: flex;
    flex-direction: column;
}

.question.info {
    padding: 10px;
    word-break: break-word;
    overflow: hidden;
}

.action {
    display: inline;
    vertical-align: middle;
}

.action {
    padding-right: 30px;
    margin-left: 40%;
    display: inline;
    max-width: 25px;
}

.listes a {
    text-decoration: none;
    margin-left: 10px;
    padding: 0;
}

.listes {
    list-style: none;
    height: 50px;
    animation-duration: 0.5s;
    animation-name: slideinbottom;
}

.description {
    padding: 5px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: inline-block;
    width: 95% !important;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: none;
    border: solid black 1px;
    border-radius: 0;
    word-wrap: break-word;
    word-break: break-all;
    background: white;
    overflow-y: auto;

}

.status_cree.listes {
    border-top: 6px solid red;
}

.status_ecriture.listes {
    border-top: 6px solid #FFC55C;
}

.status_vote.listes {
    border-top: 6px solid #F67952D8;
}

.status_attente.listes {
    border-top: 6px solid grey;
}

.status_termine.listes {
    border-top: 6px solid green;
}

.listes > .auteur {
    float: right;
    margin-right: 5px;
    margin-bottom: 2px;
}


a {
    color: #dff5f4;
}

.champ textarea {
    background-color: white;
}


.deuxTrois {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.premier {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deuxieme {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.troisieme {
    margin-top: 150px;
    margin-left: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



#all.phases > a {
    background: #8699A3;
}


#ecriture.phases > a {
    background: #FFC55C;
}

li#vote.phases > a {
    background: rgba(246, 121, 82, 0.85);
}

#termine.phases > a {
    background: #73D393;
}


.infos > * {
    margin-top: 40px !important;
    width: 90% !important;
    background: #dff5f4;
    padding: 10px;
    /*text-align: center;*/
}

a.vote {
    display: inline-block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 35px;
    background-color: #012e49;
    font-size: 17px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    border-style: solid;
    border-color: #f1f4f8;
    border-width: 1px;
    color: #ffffff;
}

a.vote:hover {
    background-color: #f1f4f8;
    border-color: rgb(1, 46, 73);
}

a.vote span {
    position: absolute;
    display: none;
    background: #313131;
    color: white;
    opacity: 0.7;
    padding: 2px;
    font-size: 0.8em;
}

a.vote:hover span {
    display: block;
}

a.vote img {
    filter: invert(85%);
    width: 25px;
}

.imageAide {
    width: 20px;
}

a.vote:hover img {
    filter: invert(0%);
}

.bouton {
    background-color: rgba(255, 255, 255, 0.76);
    padding: 7px;
    margin-left: 5px;
    margin-right: auto;
    width: auto;
    height: auto;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    border-style: solid;
    border-color: rgba(1, 46, 73, 0.98);
    border-width: 2px;
    color: #000e17;
}


.bouton:hover {
    color: #d8dae0;
    background-color: rgba(1, 46, 73, 0.74);
    border-width: 2px;
}


#suivant {
    margin: 10px 100px 10px 50px;
    float: right;
}

.inscription p {
    text-align: left;
}

#precedent {
    float: left;
    margin: 10px 50px 10px 100px;
}

.nav *, form .nav {
    margin: 10px 10px 10px 1px;
    height: 35px;
    width: auto;
    background-color: #dff5f4;
    font-size: 17px;
    border-radius: 15px;
    transition: 0.3s;
}

.nav *:hover, form .nav:hover {
    color: white;
    background-color: #1a3341;
    border-color: #dff5f4;
}


.listes_sans_puces {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;

}

.listes_sans_puces > * {
    list-style-type: none;
    background-color: #dff5f4;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
    width: 30%;
    border-radius: 5px;
}

.listes_sans_puces > * > p {
    padding: 3px;
    text-align: center;
}


@media screen and (max-width: 1300px) {

    .pageDétail {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {

    .bouton {
        font-size: 17px;
        margin: 1px;
    }
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }

    .detail_question p {
        min-width: 80%;
    }

    #suivant {
        margin: 10px 20px 10px 50px;
    }

    #precedent {
        margin: 10px 10px 10px 20px;
    }

    #participants * {
        min-width: max-content;
        /*width: 100%;*/
        /*display: block;*/
        float: none;
    }

    .detail_question {
        display: inline-block;
        width: 100%;
    }

    .infos {
        width: 100%;
    }

    .listes {
        min-height: 50px;
        height: auto;
    }

    #accueil_search_form > h1 {
        font-size: 1.5em;
        width: 250px;
    }

    #form_search {
        position: relative;
        top: -20px;
        right: 0;
        left: 5%;
        width: 90%;
        height: 40px;
        transform: translateY(50%);
        background: white;
    }

    #form_search .search {
        transform: translateY(0%);
        height: 100%;
    }

    .barreHaut:first-child {
        padding-left: 10%;
    }

    .selection > ul > li {
        margin: auto;
        width: 180px;
        display: inline-block;
    }

    .selection > ul {
        text-align: center
    }

    .selection {
        display: contents;
    }

    .questions {
        width: 75%;
    }

    .bouton {
        width: 50%;
        background-color: rgba(255, 255, 255, 0.56);
        margin: auto;
        display: block;
        text-align: center;
    }

    .barreHaut {
        margin-top: 20px;
        width: 50%;
        display: contents;
    }


    .barreHaut > form {
        padding: 20px;
        margin: auto;
        width: 60%;
        justify-content: center;
    }


    .barreHaut #motclef {
        width: 90%;
        max-width: calc(100% - 27px);
    }

    .barreHaut p {
        position: relative;
    }

    .barreHaut .search {
        position: absolute;
        right: 0;
    }

    .deuxTrois {

        display: block;
    }

    .deuxieme {
        margin-top: 75px;
        width: 100%;
    }

    .troisieme {
        margin-top: 75px;
        width: 100%;
        margin-left: 0px;
    }

    .propositions {
        margin-top: 75px;
    }

    .propositionsResultat {
        padding-bottom: 9px;
        padding-top: 9px;
        display: flex;
        flex-direction: column;
    }

    #conversation {
        min-width: 95%;
        margin-left: 3%;
    }


}

.propositionsResultat {
    margin-top: 30px;
}

.modifier {
    width: 27px;
}

.delete {
    width: 29px;

}

@media screen and (max-width: 700px) {

    .questions {
        margin: auto;
        width: 90%;
    }

    .listes_sans_puces > * {
        width: 50%;
    }
}


.utilisateur-liste {
    text-align: center;
    overflow: hidden;
    width: 60%;
    margin: auto;
}

.utilisateur-liste > h2 {
    color: black;
}

.utilisateur-liste a {
    text-decoration: none;
    word-break: break-all;
}

.utilisateur-liste > ul > li:nth-child(odd) {
    background: grey;
}

.utilisateur-liste > ul > li:nth-child(even) {
    background: white;
}

.utilisateur-propositions > h2 {
    color: black;
}


.pileflash {
    position: fixed;
    top: 75px;
    right: 2px;
    z-index: 100;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    animation: fadeinout 5.5s;
    margin: 1px;
    transform: translateY(-1500%);
    opacity: 0;
    z-index: 0;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

h1 {
    text-align: center;
}

h1 > .custom_strong {
    color: white;
    text-shadow: 2px 1px 1px black;
    box-shadow: 2px 1px 1px white;
    display: inline-block;
    padding: 8px;
    text-transform: capitalize;
}

h1 > .custom_strong.color-blue {
    background: cornflowerblue;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

h1 > .custom_strong.color-grey {
    background: lightgrey;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
}

h1 > .custom_strong.color-green {
    background: lightgreen;
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
}

h1 > .custom_strong.color-yellow {
    background: #F67952D8;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}

h1 > .custom_strong.color-orange {
    background: #FFC55C;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}


.detail_question {
    background: #bce8f1;
}

.detail_question div {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.detail_question p {
    font-size: 17px;

    margin: auto;
    /*max-width: max-content;*/
    word-wrap: break-word;
    white-space: normal;
    max-width: 70%;
}

div p {
    width: auto;
}


.infos {
    width: 100%;
}

.infos .info {
    margin: auto;
    display: block;
}

.infos .question {
    background: #dff5f4;
    width: 90%;
}

.infos h1 {
    color: black
}

.infos .calendrier {
    width: 50% !important;
    max-width: 400px;
}


.calendrier {
    margin: 2%;
    text-align: center;
}

.calendrier p {
    max-width: 450px;
    margin: 2%;
    text-align: center;
}


.responsables {
    width: 100%;
}

.cal {
    color: white;
    background: none;
    padding: 0;
    border: none;
    margin: 0;
    top: 0px;
    left: 20px;
    position: relative;
}

.cal::after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 20px;
    background: rgba(1, 46, 73, 0.47);
    z-index: 1;
    position: absolute;
    top: 13px;
    left: -32px;
}

#participants {
    width: 90% !important;
    background: #dff5f4;
    padding: 10px;
    text-align: center;
}

#participants > * > p:nth-child(even) {
    background: #d3fffc;
}

#participants > * > p:nth-child(odd) {
    background: #b8fff9;
}

#participants > * {
    background: #dff5f4;
}

#participants > div {
    width: 49%;
}

/*#votants {
    width: 45%;;
}*/

/*#responsables {
    width: 45%;;
}*/

.sections > .section:nth-child(odd) {
    background: #b8fff9;
}

.sections > .section:nth-child(even) {
    background: #d3fffc;
}

.sections > .section {
    display: block;
}

.info_question {
    /*margin-left: 5%;*/
}

#aide_question{
    filter: initial;
    margin-left: 0px;
}

#detail_section{
    width: 90% !important;
    background: #dff5f4;
    padding: 10px;
    text-align: center;
}
#description{
    word-wrap: break-word;
}

.vertical-line {
    display: block;
    width: 7px;
    height: 100px;
    z-index: -1;
}

.vertical-line-petite {
    display: block;
    height: 45px;
    width: 7px;
    z-index: -1;
}

#cercle {
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #0d79b9;
    left: -11px;
}


.lien {
    padding: 10px;
    color: #012134;
    font-size: 18px;
    border-radius: 5px;
    background-color: #dff5f4;
    /*text-decoration: none;*/
}

.lien:hover {
    border: solid 1px white;
    background-color: #1a3341;
    color: white;
}

.légende {
    display: inline-block;
}


.propositions .listes {
    position: relative;
    border-radius: 7px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #dff5f4;
    vertical-align: middle;
    display: flex;
    height: 250px;
    width: 100%;
    margin: 20px;
}


.divDePremier {
    width: 50%;
    position: relative;
    display: flex;
    padding-right: 0px;
}


#participants > * > p {
    border: none;
    border-radius: 0;
    padding: 2px;
    /*margin: 0;*/
}


input, textarea {
    font-size: 18px;
}

.footer {
    background-color: rgba(29, 29, 30, 0.99);
    vertical-align: middle;
    height: 60px;
    list-style: none;
    display: flex;
}

.footer li {
    /*background-color: rgba(77, 69, 69, 0.56);*/
    padding: 15px;
    margin: auto;
}

.footer li:hover {
    color: black;
}


.link-custom {
    font-size: 18px;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 85%;
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    transform: scale(100%);
    box-shadow: -3px 3px 0 0 var(--brand)
}

.custom-form {
    padding: 13px 13px 50px 13px;
    margin: 30px auto auto auto;
    /*text-align: center;*/
    border-radius: 4px;
    width: 80%;
    background: rgba(164, 218, 246, 0.42);
    position: relative;
}

.InputAddOn {
    display: flex;
    margin-bottom: 1.5em;
}

.InputAddOn-field {
    max-width: 30%;
    flex: 1;
}

.InputAddOn-field:not(:first-child) {
    border-left: 0;
}

.InputAddOn-field:not(:last-child) {
    border-right: 0;
}

.InputAddOn-item {
    background-color: rgba(1, 46, 73, 0.3);
    color: #ffffff;
    font: inherit;
    font-weight: normal;
}

.InputAddOn-field,
.InputAddOn-item {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
}

.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px;
}

.InputAddOn-field:last-child,
.InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0;
}


.messageChat {
    padding: 10px;
    min-height: 25px;
    height: auto;
    margin: 10px 10px 10px 10%;
    min-width: content-box;
    max-width: max-content;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.62);
}



/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #7ec7f1;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #012e49;
    border-radius: 10px;
    border: 3px solid #5bb3e7;
}

#conversation {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 400px;
    margin-left: 20%;
    width: 60%;
}

.date {
    color: white;
}

.contact {
    background-color: rgba(107, 192, 241, 0.24);
    width: 50%;
    padding: 10px;
    margin: 30px;
    display: block;
    border: black 1px solid;
}

.contact > * {
    display: inline;
    margin-left: 20px;
    vertical-align: middle;
}

select {
    /*width: 120px;*/
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #012e49;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}

.zoneTexte {
    color: white;
    margin-top: 5%;
    max-width: 60%;
    padding: 10px 10px 60px 10px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #012e49;*/
    border: 2px #9c9da0 solid;
    border-radius: 5px;
}

.zoneTexte textarea {
    color: white;
    background-color: rgba(232, 239, 243, 0.45);
}

.survol span {
    width: auto;
    visibility: hidden;
    display: none;
    background-color: #012e49;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}

.survol img:hover + span {
    margin: auto;
    display: block;
    width: auto;
    visibility: visible;
}

.imageAide {
    margin-left: 50%;
    min-width: 50px;
    filter: invert(1);
}

.messageInfo {
    border: 1px rgba(255, 255, 255, 0.51) solid;
    margin-left: 15px;
    max-width: 550px;
}

.messageInfo:hover {
    margin: auto;
    display: block;
    width: auto;
    visibility: visible;
}

.custom_titre {
    color: #d9d7d7;
}


textarea {
    max-width: 80%;
}

input {
    max-width: 80%;
}

#titre_id {
    width: 70%;
}

.editor-toolbar {
    margin-top: 7px;
}

.maximum {
    display-inside: ruby-text;
    float: right;
    display: flex;
}


.titre_id{
    width:70%;
}

.delete:hover{
    width: 28px;
}

.modifier:hover {
   width: 26px;
}

.medaille {
    margin-left: 25px;
}
