.propositions {
    margin-top: 5px;
    width: 100%;
    /*text-align: center;*/
}

.proposition {
    animation-duration: 0.5s;
    animation-name: slideinbottom;
    height: 300px;
    width: 310px;
    max-width: 400px;
    border: white solid 1px;
    border-radius: 5px;
    padding: 30px 20px 20px 20px;
    margin: 30px;
    background-color: rgba(223, 245, 244, 0.84);
    text-align: center;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    overflow:visible;
    position:relative;
}

.proposition > img {
    max-width: 70px;
    position: absolute;
}


.Titre_proposition{
    min-height: fit-content;
    max-height: 100px;
    overflow-y: auto;
    font-size: 18px;
    text-decoration: none;
    color:black;
    margin:0;
}

a{
    text-decoration: none;
    color:black
}

.eliminee * {
    color: white;
}

.estEliminee {
    position: absolute;
    left: 190px;
    top: -30px;
    margin:0;
}