nav {
    display: block;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: ease-in-out 0.5s;
    background-color: var(--details);
    height: 70px;
    z-index: 1000;
    position: fixed;
}


nav:hover {
    height: 68px;
    opacity:0.95;
}


#Menu {
    padding:0;
    display: flex;
    margin-top: -1%;
    height: 75px;
    padding-bottom: 10px;
    transition: ease-in-out 0.5s;
}

.petitmenu a {
    color: white;
}

nav:hover >#Menu{
    margin-top:-0.5%;
}
nav:hover .profil{
    top:15px;
}

ul[id="Menu"] li.grosmenu {

    margin:0;
}

ul[id="Menu"] li.grosmenu > a {
    text-decoration: none;
    margin:0;
    margin-top: 15px;
    display: inline-block;
    width: 200px;
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 19px;
    line-height: 24px;
}

ul[id="Menu"] li a:hover {
    color: #012e49;
    background: #c1d9d7;
    transition: opacity 0.2s linear;
}


ul[id="Menu"] li {
    display: inline;
}

.profil {
    filter: invert(0.9);
    position:absolute !important;
    top:10px;
    right:100px;
    width:auto !important;
    transition: ease-in-out 0.5s;
}
.profil>img{
    min-width:34px ;
}


@media screen and (max-width: 1000px) {


    nav{
        opacity:1;
    }

    #Menu {
        width:75px;
        padding:0;margin:0;
        display:inline-block;
        height:60px;
        padding-top:60px;
        background-image:url("../../web/images/Menu_icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }
    #Menu:hover{
        background-color: var(--background2);
    }

   #Menu > li{
       display:none;
       position:absolute;
    }

    #Menu:hover > li{
        display:block;
        position:relative;
    }
    #Menu:hover> li >a{
        height: auto;
    }

    #Menu> li:hover >a{
        color:white;
        opacity:0.9;
    }

    ul[id="Menu"] li.grosmenu{
        padding:0;
        margin:0;
    }

    ul[id="Menu"] li.grosmenu > a {
        margin-top:60px;
        position:relative;
        background:var(--background2);
        margin:0;
        padding: 10px;
        height:0;
        width: 150px;
        font-size: 17px;
        line-height: 22px;
    }

    .profil{
        right:50px;
    }
    nav:hover .profil{
        top:10px;
    }

}
