nav {
    display: block;
    color: white;
    border-radius: 20px;
    transition: ease-in-out 0.5s;
    background-color: #012e49;
}


nav:hover {
    height: 85px;
}

nav:hover #Menu {
    margin-top: 0%;
}

#Menu {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    margin-top: -1%;
    height: 75px;
    padding-bottom: 10px;
    transition: ease-in-out 0.5s;
}

.petitmenu a {
    text-decoration: none;
    color: white;
}


ul[id="Menu"] li.grosmenu {

    /*margin-right: 20px;*/
}

ul[id="Menu"] li.grosmenu > a {
    margin-top: 15px;
    display: inline-block;
    width: 150px;
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    line-height: 24px;
}

ul[id="Menu"] li a:hover {
    transition: opacity 0.2s linear;
}

ul[id="Menu"] li a:hover {
    opacity: 50%;
    border-radius: 0px;
}

ul[id="Menu"] li {
    display: inline;
    border-radius: 0;
}

@media screen and (max-width: 1500px) {
    #Menu {
        margin-left: 5%;
        margin-right: 5%;
    }

    ul[id="Menu"] li.grosmenu > a {
        padding: 0px;
        height: 40px;
        width: 150px;
        font-size: 19px;
    }
}

@media screen and (max-width: 1000px) {
    #Menu {
        margin-left: 0%;
        margin-right: 0%;
    }

    ul[id="Menu"] li.grosmenu > a {
        padding: 0px;
        height: 40px;
        width: 100px;
        font-size: 17px;
        line-height: 22px;
    }
}

@media screen and (max-width: 800px) {
    #Menu {
        margin-left: 0%;
        margin-right: 0%;
    }

    ul[id="Menu"] li.grosmenu > a {
        margin-left: 0px;
        padding: 0px;
        height: 40px;
        width: 80px;
        font-size: 15px;
        line-height: 20px;
    }
}